<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.hakonsreader">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.Launcher">
        <activity android:name=".activites.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="callback"
                    android:scheme="hakonreader" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activites.SubredditActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".activites.ProfileActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".activites.PostActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".activites.ImageActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".activites.VideoActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".activites.VideoYoutubeActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />

        <activity
            android:name=".activites.ReplyActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".activites.WebViewActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />
        <activity
            android:name=".activites.LogInActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme" />

        <activity
            android:name=".activites.SubmitActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activites.SendPrivateMessageActivity"
            android:theme="@style/AppTheme.SlidrActivityTheme"
            android:windowSoftInputMode="adjustPan" />

        <activity
            android:name=".activites.DispatcherActivity"
            android:theme="@style/AppTheme.DispatcherTheme">

            <!--
            TODO it's kind of annoying to have to have a trailing slash on these. Since it's not a proper regex
            matcher I can't do "/?" at the end. If I end up actually implementing all possible paths I can probably
            match an intent filter for anything from reddit.com, but that's really bad to do if I can't handle all intents
            -->


            <!-- Match reddit.com -->
            <!-- Using testUrl="https://reddit.com" will fail, but when actually starting an intent with that URL it will pass -->
            <tools:validation testUrl="https://www.reddit.com/" />
            <tools:validation testUrl="https://reddit.com/" />
            <tools:validation testUrl="https://old.reddit.com/" />
            <tools:validation testUrl="https://np.reddit.com/" />
            <tools:validation testUrl="https://redd.it/" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.reddit.com"
                    android:path="/"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:path="/"
                    android:scheme="https" />
                <data
                    android:host="*.reddit.com"
                    android:path="/"
                    android:scheme="http" />
                <data
                    android:host="reddit.com"
                    android:path="/"
                    android:scheme="http" />
                <data
                    android:host="redd.it"
                    android:scheme="https" />
            </intent-filter>

            <!-- Subreddits -->
            <tools:validation testUrl="https://www.reddit.com/r/GlobalOffensive/" />
            <tools:validation testUrl="https://old.reddit.com/r/GlobalOffensive/" />
            <tools:validation testUrl="http://reddit.com/r/GlobalOffensive/" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/r/.*/"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/"
                    android:scheme="http" />
            </intent-filter>


            <!-- Subreddits with sorting -->
            <!-- Kind of weird to add all these manually, but it's only 4, and it ensures we
            don't accidentally match any other URLs -->
            <tools:validation testUrl="https://www.reddit.com/r/GlobalOffensive/new" />
            <tools:validation testUrl="https://www.reddit.com/r/GlobalOffensive/new/" />
            <tools:validation testUrl="http://reddit.com/r/GlobalOffensive/new/" />
            <tools:validation testUrl="https://old.reddit.com/r/GlobalOffensive/top" />
            <tools:validation testUrl="http://reddit.com/r/GlobalOffensive/top/" />
            <tools:validation testUrl="https://reddit.com/r/GlobalOffensive/hot" />
            <tools:validation testUrl="http://reddit.com/r/GlobalOffensive/hot" />
            <tools:validation testUrl="http://reddit.com/r/GlobalOffensive/hot/" />
            <tools:validation testUrl="https://reddit.com/r/GlobalOffensive/controversial" />
            <tools:validation testUrl="http://reddit.com/r/GlobalOffensive/controversial" />
            <tools:validation testUrl="http://reddit.com/r/GlobalOffensive/controversial/" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/r/.*/new"
                    android:scheme="https" />
                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/r/.*/new/"
                    android:scheme="https" />

                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/.*/top/"
                    android:scheme="https" />
                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/r/.*/top"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/.*/top"
                    android:scheme="http" />

                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/.*/hot/"
                    android:scheme="https" />
                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/r/.*/hot"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/.*/hot"
                    android:scheme="http" />

                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/.*/controversial/"
                    android:scheme="https" />
                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/r/.*/controversial"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/.*/controversial"
                    android:scheme="http" />
            </intent-filter>



            <!-- Users -->
            <!-- AFAIK nothing can come after users in the url, so we can safely omit the trailing slash here -->
            <tools:validation testUrl="https://reddit.com/u/hakonschia/" />
            <tools:validation testUrl="https://www.reddit.com/u/hakonschia/" />
            <tools:validation testUrl="http://reddit.com/u/hakonschia/" />
            <tools:validation testUrl="http://old.reddit.com/u/hakonschia/" />
            <tools:validation testUrl="https://reddit.com/user/hakonschia/" />
            <tools:validation testUrl="http://old.reddit.com/user/hakonschia" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/u/.*"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:pathPattern="/u/.*"
                    android:scheme="http" />
                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/user/.*"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:pathPattern="/user/.*"
                    android:scheme="http" />
            </intent-filter>

            <!-- Posts -->
            <tools:validation testUrl="https://old.reddit.com/r/GlobalOffensive/comments/j72qmj/furias_buy_against_triumph_at_iem_new_york/" />
            <tools:validation testUrl="https://www.reddit.com/r/GlobalOffensive/comments/j72qmj/furias_buy_against_triumph_at_iem_new_york/" />
            <tools:validation testUrl="https://reddit.com/r/GlobalOffensive/comments/j72qmj/" />
            <tools:validation testUrl="https://old.reddit.com/r/GlobalOffensive/comments/j72qmj/" />
            <tools:validation testUrl="https://reddit.com/comments/j72qmj/" />
            <tools:validation testUrl="https://old.reddit.com/comments/j72qmj/" />
            <tools:validation testUrl="https://www.reddit.com/r/GlobalOffensive/comments/ju3c1m/million_concurrent_players_again/gc9edc5" />
            <tools:validation testUrl="https://www.reddit.com/r/GlobalOffensive/comments/ju3c1m/million_concurrent_players_again/gc9edc5/" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- With a summary of the title at the end -->
                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/r/.*/comments/.*/.*/"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/.*/comments/.*/.*/"
                    android:scheme="http" />

                <!-- Linking to a specific comment thread -->
                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/.*/comments/.*/.*/.*"
                    android:scheme="https" />

                <!-- Without the summary of the title at the end (/r/<sub>/comments/<id>/ -->
                <data
                    android:host="reddit.com"
                    android:pathPattern="/r/.*/comments/.*/"
                    android:scheme="http" />

                <!-- Without any knowledge of the subreddit (/comments/<id>/) -->
                <data
                    android:host="reddit.com"
                    android:pathPattern="/comments/.*/"
                    android:scheme="http" />
            </intent-filter>

            <!-- Private messages -->
            <tools:validation testUrl="https://reddit.com/message/compose" />
            <tools:validation testUrl="https://www.reddit.com/message/compose" />
            <tools:validation testUrl="https://www.reddit.com/message/compose/" />
            <tools:validation testUrl="https://www.reddit.com/message/compose?to=ArneRofinn" />
            <tools:validation testUrl="https://www.reddit.com/message/compose?to=/r/GlobalOffensive&amp;subject=insert+descriptive+title&amp;message=Please+make+sure+you+have+read+and+understood+the+rules+before+sending+a+message" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="*.reddit.com"
                    android:pathPattern="/message/compose"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:pathPattern="/message/compose"
                    android:scheme="http" />

                <data
                    android:host="reddit.com"
                    android:pathPattern="/message/compose/"
                    android:scheme="https" />
                <data
                    android:host="reddit.com"
                    android:pathPattern="/message/compose/"
                    android:scheme="http" />
            </intent-filter>


            <!-- Posts from shortened URLs -->
            <!-- As with posts, I believe redd.it links will always only be for posts, so we can omit the trailing slash -->
            <tools:validation testUrl="https://redd.it/je5l4g/" />
            <tools:validation testUrl="https://redd.it/je5l4g" />
            <tools:validation testUrl="http://redd.it/je5l4g/" />
            <tools:validation testUrl="http://redd.it/je5l4g" />

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="redd.it"
                    android:pathPattern="/.*"
                    android:scheme="https" />
                <data
                    android:host="redd.it"
                    android:pathPattern="/.*"
                    android:scheme="http" />
            </intent-filter>
        </activity>
    </application>

</manifest>